*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans';
}

.layout-wrapper{
    display: flex;
    height: 100%;
    flex-wrap: no-wrap;
    justify-content: column;
    align-items: stretch;
}

.layout-side{
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    background-color: #6a6a6b;

}

.layout-side .layout-logo{
    position: relative;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.layout-side .layout-logo a {
    color: white;
    text-decoration: none;
}


.layout-side a.menu_input{
    position: relative;
    width: 100%;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.layout-side a.menu_input:visited{ 
    color: white;
}
.layout-side a.menu_input:hover{ 
    text-decoration: underline;
}

#layout-content{
   padding: 5px;
}

.charts{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap ;
}

.charts p-chart{
    width: 50%;
}
.charts p-chart.fullWidth{
    width: 100%;
}

.codeNuance ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}   

.codeNuance li{
    margin-left: 30px;
    list-style: none;
}


.checked{
    background-color: #02d202;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0px 5px;
    margin: 5px;
}
